# Dependencias
node_modules/

# Compilación TypeScript
dist/

# Variables de entorno
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cobertura de pruebas
coverage/

# IDEs y SO
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
